polkit.addRule(function(action, subject) {
    if (
        subject.user == "clash-web" &&
        action.id == "org.freedesktop.systemd1.manage-units" &&
        action.lookup("unit") == "mihomo.service" &&
        ["start", "stop", "restart"].indexOf(action.lookup("verb")) >= 0
    ) {
        return polkit.Result.YES;
    }
});
